---
import Layout from '@layouts/Layout.astro'

import Card from '@components/Card.astro'

import image from '@assets/illustration-article.svg'
import avatar from '@assets/image-avatar.webp'
---

<Layout title="Frontend Mentor - Blog preview card">
    <main class="text-neutral-900">
        <Card
            href="https://astro.build"
            {image}
            tags={['Learning']}
            date="21 Dec 2023"
            title="HTML & CSS foundations"
            body="These languages are the backbone of every website, defining structure, content, and presentation."
            user={{
                name: 'Greg Hooper',
                avatar: avatar,
            }}
        />
    </main>
</Layout>
